.moreView {
  /* margin: 16px 16px 24px; */
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
  width: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.moreView .heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.moreView .heading :last-child {
  font-size: 15px;
  font-weight: 600;
  color: #002f34;
  text-decoration: underline;
}

.heading :last-child:hover{
  text-decoration: none;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.moreView .cards::-webkit-scrollbar{
  display: none;
}

.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 262px;
  width: 262px;
  height: 280px;
  display: inline-block;
  cursor: pointer;
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}
.card .content .rate {
  margin-top: 20px;
  font-size: larger;
  font-weight: bold;
  color: #002f34;
}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: medium;
  margin-top: 3px;
  color: rgba(0,47,52,.64);
}
.card .date span{
  display: flex;
  justify-content: flex-end;
  font-size: small;
  margin-bottom: 10px;
  color: gray;
}

.recommendations {
  /* margin: 16px 16px 24px; */
  margin-top: 16px;
  margin-bottom: 24px;
  /* margin-left: 80px;
  margin-right: 50px; */
  padding: 1px 16px 16px;
}

.recommendations .card{
  margin-bottom: 15px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}

p{
  margin-left: 0;
}

.moreView{
  position: relative;
}

.buttons button{
  width: 30px;
  height: 65px;
  background: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.buttons .fas{
  color: black;
}

.buttons #slideRight{
  position: absolute;
  top: 9.5em;
  right: 12px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

.buttons #slideLeft{
  position: absolute; 
  top: 9.5em;
  left: 12px; 
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

@media only screen and (max-width: 770px) {
  .moreView {
    margin-left: 50px;
    margin-right: 50px;
  }
}