.visually-hidden {
    /* display: none; */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

label{
    display: none;
}

button{
    background-color: #002f34;
    width: 100%;
    border: none;
}

.productsLists{
    position: fixed;
    top: 64px;
    left: 373px;
    height: auto;
    width: 510px;
    background-color: white;
    line-height: 60px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.list{
    border-bottom: 1px solid lightgrey;
}

.list:hover{
    background-color: lightgray;
    cursor: pointer;
}

.list p{
    margin-left: 15px;
    font-size: 14px;
    cursor: pointer;
}