.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 17px;
    background: #002f34;
    color: whitesmoke;
}

p{
    font-size: 13px;
    margin: 0;
    margin-left: 30px;
    margin-right: 20px;
}