.loginParentDiv {
    border: 1px solid lightgrey;
    width: 25rem;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
    border-radius: 6px;
  }

  .input_parent {
    display: flex;
  }
  
  .far{
    border-bottom: 2px solid;
    cursor: pointer;
  }

  .loginParentDiv .input {
    width: 100%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .loginParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .loginParentDiv a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 490px) {
    .loginParentDiv {
      width: 16rem;
    }
  }