.bannerParentDiv {
  padding-top: 4em;
}
.bannerParentDiv .bannerChildDiv {
}
.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 22px 16px 10px 16px;
}

.bannerParentDiv .bannerChildDiv .menuBar span {
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  margin-left: 26px;
  font-weight: bolder;
  font-size: 14px;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions {
  margin-left: 10px;
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions a{
  text-decoration: none;
  color: black;
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span:hover {
  color: cadetblue;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}
